<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="../../web/assets/css/bootstrap.min.css">
</head>
<body>
<h3>CREATION</h3>
<a href="supercategories_create.php">
    <button class=".btn btn-primary">SUPERCATEGORIES</button>
</a>
<a href="categories_create.php">
    <button class=".btn btn-primary">CATEGORIES</button>
</a>
<a href="subcategories_create.php">
    <button class=".btn btn-primary">SUBCATEGORIES</button>
</a>
<a href="subcat_spec_create.php">
    <button class=".btn btn-primary">SUBCATEGORY SPECIFICATIONS</button>
</a>
<a href="product_create.php">
    <button class=".btn btn-primary">PRODUCTS</button>
</a>
</body>
</html>